.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.icon {
    font-size: 2rem;
    color: #242F9B;

}

.navbar-item {
    margin-right: 10px;
}

.blue {
    color: #242F9B;
}